/* main text color: #757575 */
/* text secondary color: #212121 */
/* accent color: #2196F3 */
/* background tertialy color: #2F303A */
/* background secondary color: #F5F4FA */
/* white: #FFFFFF */
/* email and tel white: rgba(255, 255, 255, 0.6) */


:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent: #2196F3;
    --white: #FFFFFF;
    --secondary-white: rgba(255, 255, 255, 0.6);
    --black: #000000;
    --secondary-bg-color: #F5F4FA;
    --tertialy-bg-color: #2F303A ;

}

body{
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Header*/
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-first-part{
    color: var(--accent);
}
.logo-second-part{
    color: var(--black);
}
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent);
}
.site-nav .link.current{
    color: var(--accent);
}
.contacts .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus{
    color: var(--accent);
}

/*Main*/
.hero{
    background-color: var(--tertialy-bg-color);
}
.hero-title{
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    color: var(--white);
    background-color: var(--accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 18.7;
    letter-spacing: 0.06em;
}
.features .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features .description{
    font-size: 14px;
    line-height: 1.71;
}
.section-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.our-team{
    background-color: var(--secondary-bg-color);
}
.team-member{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.team-member-position{
    font-size: 16px;
    line-height: 1.2;
}
/* Footer*/
.footer{
    background-color: var(--tertialy-bg-color);
}
.footer .logo-second-part{
    color: var(--white);
}
.address{
    font-style: normal;
}
.phys-address{
    color: var(--white);
    font-size: 14px;
    line-height: 1.71;
}
.email, .phone{
    color: var(--secondary-white);
    font-size: 14px;
    line-height: 1.71;
}
.footer .link:hover,
.footer .link:focus{
    color: var(--accent);
}

/*Portfolio*/
.button{
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.button:hover,
.button:focus{
    color: var(--white);
    background-color: var(--accent);
}
.project-examples h2{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-type{
    font-size: 16px;
    line-height: 1.87;
}